<%- include("partials/header.ejs") %>

<body>
  <nav class="navbar navbar-default" style="background-color: #B8C5D6;">
    <div class="container">
      <div class="navbar-header" style="color: #272D2D">
        <p><a class="navbar-brand" href="/">BLOG</a></p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/" class="<%= path === 'home' ? 'active' : '' %>">HOME</a></li>
        <li id="compose"><a href="/compose" class="<%= path === 'compose' ? 'active' : '' %>">COMPOSE</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <a class="btn btn-dark back-button" href="/">Home</a>
    <h1>Admin Dashboard</h1>
    <hr />
    <% if (posts.length > 0) { %>
    <div class="posts">
      <% for (const post of posts) { %>
      <div class="post">
        <h1>
          <%= post.title %>
        </h1>
        <p>
          <% if (post.body.length > 100) { %>
          <%- post.body.substring(0, 100)+"..." %><a href='/posts/<%= post.title %>'> Read More</a>
          <% } else { %>
          <%= post.body %>
          <% } %>
        </p>
        <div class="actions">
          <form action="/delete-post/<%= post.title %>" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
            <a href="/edit-post/<%= post.title %>" class="btn btn-warning">Edit</a>
        </div>
      </div>
      <% } %>
    </div>
    <% } else { %>
    <h1>Nothing to see here</h1>
    <% } %>
  </div>
</body>

</html>
