<%- include("partials/header.ejs") %>

<body>
  <nav class="navbar navbar-default" style="background-color: #B8C5D6;">
    <div class="container">
      <div class="navbar-header" style="color: #272D2D">
        <p><a class="navbar-brand" href="/">BLOG</a></p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/" class="<%= path === 'home' ? 'active' : '' %>">HOME</a></li>
        <li id="compose"><a href="/compose" class="<%= path === 'compose' ? 'active' : '' %>">COMPOSE</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <a class="btn btn-dark back-button" href="/admin">Admin</a>

    <h1>All Posts</h1>
    <hr />
    <% if (posts.length > 0) { %>
    <div class="posts">
      <% for (const post of posts) { %>
      <div class="post">
        <h1>
          <%= post.title %>
        </h1>
        <p>
          <%- post.body.substring(0, 100)+"..." %><a href='/posts/<%= post.title %>'> Read More</a>
        </p>
      </div>
      <% } %>
    </div>
    <% } else { %>
    <h1>Nothing to see here</h1>
    <% } %>
  </div>
</body>

</html>
